@charset "UTF-8";

@media only screen and (max-width:717) {
    nav {
        height: 100px;
    }

    main {
        height: calc(100vw - 436px);
    }

}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor1: #0477BF;
    --cor2: #F2A007;
    --cor3: #F27D16;
    --cor4: #F25922;
    --cor5: #B6D7DF;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    margin: 3px;
    flex-basis: 100vw;
    /*flex-basis é o tamanho inicial da tela *
    devemos sempre usa vw que é viport,width *(e o comprimento da tela)/

    flex-grow: 1;
    /*flex-grow tem habilidade d e fazer um item almentar seu tamanho*/

    flex-shrink: 1;
    /*flex-shrink tem habilidade de fazer um item redusir o  seu tamanho*/
    background: var(--cor1);
}

header {
    display: flex;
    margin: 3px;
    flex: 1 1 100vw;
    height: 100px;
    background: var(--cor2);
}

nav {
    display: flex;
    margin: 3px;
    flex: 1 1 200px;
    background: var(--cor3);
}

main {
    display: flex;
    margin: 3px;
    flex: 20 1 500px;
    height: calc(100vw -154px);
    /* A função calc e feita o calculo nesta forna
    header=100px
    footer=30px
    margin(3px+3px)*4=24px
    o resultado e a suma dos elementos
    ex:100px+30px.24px=154px
    
    */
    background: var(--cor4);
}

aside {
    display: flex;
    margin: 200px;
    flex: 1 1 100vw;
    background: var(--cor5)
}

footer {
    display: flex;
    margin: 3px;
    flex: 1 1 100vw;
    height: 30px;
    background: rgba(172, 255, 47, 0.414);
}